<style>
html {
	height: 100%;
	margin: 0 auto;
	padding: 0;
	display: table;
}
body {
	min-height: 100%;
	margin: 0 auto;
	padding: 0;
	display: table-cell;
	vertical-align: middle;
}
.label {
	text-align: center;
}
h3,h4 {
	text-align: center;
}
title {
	padding-top: 200;
}

</style>
<head>
<title>ログイン</title>
</head>


<body>
<div class = "title"><h3>Log in</h3></div>
<h4><%= notice %><h4>
<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
	<div class = "label">
		<div><%= f.label :email %></div>
		<div><%= f.email_field :email %></div>
		<div><%= f.label :password %></div>
		<div> <%= f.password_field :password %></div>

		<div class = "btn"><%= f.submit "Log in" %></div>
	</div>
<% end %>