<h1>Log in</h1>
<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>

  <div><%= f.label :email %></div>
  <div><%= f.email_field :email %></div>
  <div><%= f.label :password %></div>
  <div> <%= f.password_field :password %></div>

  <div><%= f.submit "Log in" %></div>
<% end %>