
<h2><%= @user.name %>のページ</h2>
<p>プロフィール画像:</p>
<div class = "profile-image"><%= image_tag @user.image.url, size: '100x100' if @user.image.present? %></div>
<p>メールアドレス: <%= @user.email %></p>

<%= link_to "Edit", edit_user_path(@user.id) if @user.id == current_user.id%>
<%= link_to "Go to Photo_Index", pictures_path%>
