<h1><%= @user.name %>のページ</h1>
<p>プロフィール画像:</p>
<div class = "profile-image"><%= image_tag @user.image.url if @user.image.present? %></div>
<p>メールアドレス: <%= @user.email %></p>

<%= link_to "Edit", edit_user_path(@user.id) if @user.id == current_user.id%>
<%= link_to "Go to Photo_Index", pictures_path%>
