<%= form_with(model: picture) do |form| %>
  <% if picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
        <% picture.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :content %>
    <div>
    <%= form.text_area :content %>
    </div>
    <%= image_tag(@picture.image.url) if @picture.image && @picture.image.url %>
    <div>
    <%= form.label :image %>
    </div>
    <%= form.file_field :image %>
  </div>
  <div class="actions">
  <%= form.submit %>
  </div>
<% end %>