<h1>Pictures</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pictures.each do |picture| %>
      <tr>
        <div><td><%= image_tag picture.image.url if picture.image.present? %></td></div>
        <td><%= picture.user.name %></td>
        <td><%= picture.content %></td>
        <% if current_user.already_favorited?(picture) %>
        <% favorite_id = Favorite.where(user_id: current_user.id).find_by(picture_id: picture.id).id %>
            <td><%= link_to "お気に入り解除", favorite_path(id: favorite_id), method: :delete, class: 'btn btn-danger' %></td>
        <% else %>
            <td><%= link_to "お気に入り登録", favorites_path(picture_id: @picture.id), method: :post, class: 'btn btn-primary' %></td>
        <% end %>
        <td><%= link_to "詳細を確認", picture_path(picture.id) %></td>
        <td><%= link_to "編集", edit_picture_path(picture.id) %></td>
        <td><%= link_to "削除", picture_path(picture.id), method: :delete, data: {confirm: "本当に削除しますか?"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Picture', new_picture_path %>
