<h5><%= notice %><h5>

<strong>Image:</strong>

<p><%= image_tag @picture.image.url, size: '100x100' if @picture.image.present?%></p>
<p>投稿者: <%= @picture.user.name %></p>
<p>コメント: <%= @picture.content %></p>

<%= link_to 'Edit', edit_picture_path(@picture) if @picture.user.id == current_user.id %> 
<%= link_to 'Back', pictures_path %>
