<!DOCTYPE html>
<style>

header {
  width: 100%;
  height:30px;
  position: sticky;
  top: 0;
  background-color: #eff3f3;
  display: inline;
  text-align: center;
}

li {
  line-height: 30px;
  list-style: none;
}

</style>
<html>
  <head>
    <title>RailsExam3</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class = "header">
    <li class="list-unstyled">
      <% if logged_in? %>
        <%= link_to "Profile", user_path(current_user.id) %>
        <%= link_to "Logout", session_path(current_user.id), method: :delete %>
      <% else %>
        <%= link_to "Sign up", new_user_path %>
        <%= link_to "Login", new_session_path %>
      <% end %>
      <% if logged_in? %>
        <%= link_to "Photo_Index", pictures_path(current_user.id) %>
        <%= link_to "Favorites_Index", favorites_path(current_user.id) %>
      <% end %>
    </li>

  </header>
  
    <%= yield %>
  </body>
</html>
